<div class="main-container">
  <ngb-tabset #t="ngbTabset">
    <ngb-tab id="tab-selectbyid1" title="Personal Details">
      <ng-template ngbTabContent>
        <app-check-out-step1 [placeOrderObj]="placeOrderObj" [t]="t"></app-check-out-step1>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="tab-selectbyid2" title="Delivery Address" [disabled]="!placeOrderObj.activeSteps.stepTwo">
      <ng-template ngbTabContent>
        <app-check-out-step2 [placeOrderObj]="placeOrderObj" [t]="t"></app-check-out-step2>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Order Summary" id="tab-selectbyid3" [disabled]="!placeOrderObj.activeSteps.stepThree">
      <ng-template ngbTabContent>
        <app-cart-items [cartItem]="placeOrderObj.cartItem" [t]="t"></app-cart-items>
        <button type="button" class="  btn btn-primary  " (click)="t.select('tab-selectbyid2')">
          Prev
        </button>
        <button type="button" class="btn btn-primary float-right" (click)="t.select('tab-selectbyid4')">
          Next
        </button>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Payment Options" id="tab-selectbyid4" [disabled]="!placeOrderObj.activeSteps.finalStep">
      <ng-template ngbTabContent>
        <app-check-out-final-step [placeOrderObj]="placeOrderObj" [t]="t"></app-check-out-final-step>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
