/* You can add global styles to this file, and also import other style files */

.main-container {
  padding: 30px 40px 40px 40px;
}


body {
  font-family: 'Lato';
  font-size: 22px;
}

.default-font-color {
  color: #404040d1;
}
